<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <LinkTo @route="application" class="navbar-brand">Ember SortableJS</LinkTo>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <LinkTo @route="simple" class="nav-link">Simple List</LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="shared" class="nav-link">Shared List</LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="clone" class="nav-link">Cloning</LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="disable" class="nav-link">Disable Sort</LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="handle" class="nav-link">Using Handles</LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="filter" class="nav-link">Prevent drag</LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="thresholds" class="nav-link">Drag thresholds</LinkTo>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  {{#if this.inHomeRoute}}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Ember-SortableJS</h1>
        <p class="lead font-weight-normal">Drag and Drop with sort for ambitious applications</p>
        <LinkTo @route="simple" class="btn btn-outline-secondary">
          Get Started
        </LinkTo>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
  {{else}}
    {{outlet}}
  {{/if}}
</div>
