<div class="row">
  <div class="col">
    <h2>Using drag handles</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col">
    <SortableJs
      class="list-group"
      @options={{hash animation=150 handle=".handle"}}
    >
      <div data-testid="one" class="list-group-item"><span class="handle">&#9776;</span>&nbsp;Item 1</div>
      <div data-testid="two" class="list-group-item"><span class="handle">&#9776;</span>&nbsp;Item 2</div>
      <div data-testid="three" class="list-group-item"><span class="handle">&#9776;</span>&nbsp;Item 3</div>
      <div data-testid="four" class="list-group-item"><span class="handle">&#9776;</span>&nbsp;Item 4</div>
      <div data-testid="five" class="list-group-item"><span class="handle">&#9776;</span>&nbsp;Item 5</div>
    </SortableJs>
  </div>
  <div class="col">
    <pre>
      <code>
        &lt;SortableJs
          class="list-group"
          @options=&#123;&#123;hash animation=150 handle=".handle"&#125;&#125;
        &gt;
          &lt;div class="list-group-item"&gt;&lt;span class="handle"&gt;&#9776;&lt;/span&gt;Item 1&lt;/div&gt;
          &lt;div class="list-group-item"&gt;&lt;span class="handle"&gt;&#9776;&lt;/span&gt;Item 2&lt;/div&gt;
          &lt;div class="list-group-item"&gt;&lt;span class="handle"&gt;&#9776;&lt;/span&gt;Item 3&lt;/div&gt;
          &lt;div class="list-group-item"&gt;&lt;span class="handle"&gt;&#9776;&lt;/span&gt;Item 4&lt;/div&gt;
          &lt;div class="list-group-item"&gt;&lt;span class="handle"&gt;&#9776;&lt;/span&gt;Item 5&lt;/div&gt;
        &lt;/SortableJs&gt;
      </code>
    </pre>
  </div>
</div>
