<div class="row">
  <div class="col">
    <h2>Simple list</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col">
    <SortableJs
      @options={{hash animation=150 ghostClass="ghost-class" group="shared"}}
      @onRemove={{action "onRemove"}}
    >
      <ul class="list-group">
        <li data-testid="one" class="list-group-item">Item 1</li>
        <li data-testid="two" class="list-group-item">Item 2</li>
        <li data-testid="three" class="list-group-item">Item 3</li>
        <li data-testid="four" class="list-group-item">Item 4</li>
        <li data-testid="five" class="list-group-item">Item 5</li>
      </ul>
    </SortableJs>
    <br>
    <SortableJs
      @options={{hash animation=150 ghostClass="ghost-class" group="shared"}}
      @onAdd={{action "onAdd"}}
    >
      <ul class="list-group">
        <li data-testid="one" class="list-group-item bg-yellow">Item 1</li>
        <li data-testid="two" class="list-group-item bg-yellow">Item 2</li>
        <li data-testid="three" class="list-group-item bg-yellow">Item 3</li>
        <li data-testid="four" class="list-group-item bg-yellow">Item 4</li>
        <li data-testid="five" class="list-group-item bg-yellow">Item 5</li>
      </ul>
    </SortableJs>
  </div>
  <div class="col">
    <pre>
      <code>
        &lt;SortableJs
          @options=&#123;&#123;hash animation=150 ghostClass="ghost-class" group="shared"&#125;&#125;
          @onRemove=&#123;&#123;action "onRemove"&#125;&#125;
        &gt;
          &lt;ul class="list-group"&gt;
            &lt;li class="list-group-item">Item 1&lt;/li&gt;
            &lt;li class="list-group-item">Item 2&lt;/li&gt;
            &lt;li class="list-group-item">Item 3&lt;/li&gt;
            &lt;li class="list-group-item">Item 4&lt;/li&gt;
            &lt;li class="list-group-item">Item 5&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/SortableJs&gt;

        &lt;SortableJs
          @options=&#123;&#123;hash animation=150 ghostClass="ghost-class" group="shared"&#125;&#125;
          @onAdd=&#123;&#123;action "onAdd"&#125;&#125;
        &gt;
          &lt;ul class="list-group"&gt;
            &lt;li class="list-group-item">Item 1&lt;/li&gt;
            &lt;li class="list-group-item">Item 2&lt;/li&gt;
            &lt;li class="list-group-item">Item 3&lt;/li&gt;
            &lt;li class="list-group-item">Item 4&lt;/li&gt;
            &lt;li class="list-group-item">Item 5&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/SortableJs&gt;
      </code>
    </pre>
  </div>
</div>